
 <!DOCTYPE html>
 <html>
   <head>
     <title>pChat &mdash; Private Chatroom</title>

   </head>
   <body>
     <!-- Navigation Bar -->
     <nav class="navbar navbar-inverse">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="#"></a>
         </div>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="#">Log Out</a></li>
         </ul>
       </div>
     </nav>
     <!-- / Navigation Bar -->
     <div class="container">
       <div class="row">
         <div class="col-md-12 col-md-3">
           <aside class="main visible-md visible-lg">
             <div class="row">
               <div class="col-xs-12">
                 <div class="panel panel-default users__bar">
                   <div class="panel-heading users__heading">

                   </div>
                   <div class="__no__chat__">
                       <p>Select a contact to chat with</p>
                   </div>
                   <div class="panel-body users__body">
                     <ul *ngFor="let user of chats" id="contacts" class="list-group" >
                         <a>
                             <li [routerLink]="['chat',user.id]" >
                               <div class="avatar"><!--image here--></div>
                               <span>{{user.name}}</span>
                               <div class="status-bar"></div>
                             </li>
                         </a>

                     </ul>
                   </div>
                 </div>
               </div>
             </div>
           </aside>


         </div>
         <div class="col-xs-12 col-md-9 chat__body" [hidden]="true" >
           <div class="row">
             <div class="col-xs-12">
               <ul class="list-group chat__main">

               </ul>
             </div>
             <div class="chat__type__body">
               <div class="chat__type">
                 <textarea id="msg_box" placeholder="Type your message"></textarea>
                 <button class="btn btn-primary" id="sendMessage">Send</button>
               </div>
             </div>
             <div class="chat__typing">
               <span id="typerDisplay"></span>
             </div>
           </div>
         </div>
       </div>
     </div>

   </body>
 </html>
